{
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "@components": "./src/components",
            "@icons": "./src/assests/icons",
            "@global": "./src/global",
            "@hooks": "./src/hooks"
          }
        }
      ]
    ]
}